

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: white; 
    color: rgb(236, 227, 227); 
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  header img {
width: 150px;
height: auto;

  }
  
 
  header {
    font-family:  'Times New Roman', Times, serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  
  main {
    padding-top: 150px; 
  }
  
  .content {
    margin: 20px auto;
    width: 80%;
    background-color: #962e2e;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .sidebar {
    position: absolute;
    font-size: 15px;
    top: 320px; 
    right: 20px;
    width: 250px;
    background-color: #962e2e;
    padding: 20px;
  }

  
 
  .productos {
    margin-top: 20px;
    color: #141212;
  }
  
  .section-vinos {
    margin-bottom: 20px;
  }
  
 
  button {
    background-color: #e6cbcb;
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 1%;
    padding: 5px 10px;
    cursor: pointer;
    
  }
  
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: rgb(223, 223, 223);
    padding: 10px 20px;
    text-align: center;
  }
  



main {
    position: relative;
  }
  
  
  .productos {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    width: 500px;
    height: 200px;
    
  }
  
  img {
width: 200px;
height: 100;

  }
 
     